@import "tailwindcss";

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

th{
  color: #475467 !important;
  font-size: 16px;
  display: table-cell !important;
    vertical-align: inherit !important;
    font-weight: bold !important;
    background-color: #f6f7ff !important;
    padding: 12px 16px !important;
  text-align: center !important;
    /* border: #0000001a !important; */
}

table {
  border-collapse: separate !important;  
  border: .5px solid #0000001a !important; 
  border-radius: 10px !important;
}

table tr{
  border: .5px solid #0000001a !important;
  padding: 12px 16px !important;
}

table th,
table td {
  border-bottom: none !important;               
  text-align: center !important;
}

table td{
  border-top: .5px solid #0000001a !important;
  border-right:none !important;
  color: #101828 !important; 
  font-size: 14px !important;
  
}

button{
  font-weight: 500 !important;
  /* font-size: 16px !important; */
  /* padding: 5px 7px !important; */
}


