@import "tailwindcss";

body {
  margin: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

th{
  color: #6a7282 !important;
  font-size: 16px;
  display: table-cell !important;
    vertical-align: inherit !important;
    font-weight: bold !important;
    background-color: #f9fafb !important;
    /* border: #0000001a !important; */
}

table {
  border-collapse: separate !important;  
  border: .5px solid #0000001a !important; 
  border-radius: 10px !important;
}

table tr{
  border: .5px solid #0000001a !important;
}

table th,
table td {
  border-bottom: none !important;               
  text-align: left;
}

table td{
  border-top: .5px solid #0000001a !important;
  border-right:none !important;
  color: #4a5565 !important; 
  font-size: 16px !important;
}

button{
  font-weight: 500 !important;
  /* font-size: 16px !important; */
  /* padding: 5px 7px !important; */
}


